<div class="jumbotron">
  <h1>Easy Web Printing Without Print.css</h1>
  <p class="lead">Avoid the pain of styling your website for printing.</p>
  <p><a class="btn btn-lg btn-success" href="users/sign_up" role="button">Get started!</a></p>
</div>

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Avoid ugly print formatting</h2>
      <p class="lead">Websites need to be specifically styled for printers which have their own quirks and you can avoid these issues by using Print CSS Imager.</p>
      <p><a class="btn btn-success" href="users/sign_up" role="button">Get started!</a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag("nyt_print.png", {:class=>"featurette-image img-responsive",:style=>"width: 240px; height: 240px;"}) %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("nyt.png", {:class=>"featurette-image img-responsive",:style=>"width: 240px; height: 240px;"}) %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Leverage Your Exisiting Styling</h2>
      <p class="lead">Use your existing styling without having to re-arrange your whole site to format print.</p>
      <p><a class="btn btn-success" href="users/sign_up" role="button">Get started!</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Easy to use tool</h2>
      <p class="lead">Add three line of code to your website and you are ready to go!</p>
      <p>
        <a class="btn btn-success" href="users/sign_up" role="button">Get started!</a>
        <a class="btn btn-info" href="instruction" role="button">
          <span class="glyphicon glyphicon-wrench"></span> Instructions
        </a>
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag("code.png", {:class=>"featurette-image img-responsive",:style=>"width: 240px; height: 240px;"}) %>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>

</div>
