<h2>Account</h2>
<div class="row subscription">
  <h3 class="col-sm-12">Subscription</h3>
  <%= render "account/subscription.rb" %>
</div>
<hr class="featurette-divider">
<div class="row payment-details">
  <h3 class="col-sm-12">Payment Details</h3>
  <%= render "account/payment_details.rb" %>
</div>
<hr class="featurette-divider">
<div class="row client-token">
  <h3 class="col-sm-12">Client Token</h3>
</div>
<hr class="featurette-divider">
<div class="row delete-account">
  <h3 class="col-sm-12">Delete Account</h3>
</div>
