<h2>Account</h2>
<div class="row subscription">
  <h3 class="col-sm-12">Subscription</h3>
  <%= render "account/subscription.rb" %>
</div>
<hr class="featurette-divider">
<div class="row payment-details">
  <h3 class="col-sm-12">Payment Details</h3>
  <%= render "account/payment_details.rb" %>
</div>
<hr class="featurette-divider">
<% if current_user.client_token %>
<div id="client-token" class="row client-token">
  <h3 class="col-sm-12">Client Token</h3>
  <h4 class="col-lg-10 col-lg-offset-1"><%= current_user.client_token %></h4>
</div>
<% end %>
<hr class="featurette-divider">
<% if current_user.client_token %> 
<div class="row delete-account">
  <h3 class="col-sm-12">Cancel Subscription</h3>
  <%= render "account/cancel_subscription.rb" %>
</div>
<hr class="featurette-divider">
<% end %>