<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Plans</a></li>
      <li role="presentation"><a href="#">Sign In</a></li>
      <li role="presentation"><a href="#">Sign Up</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Print CSS Imager</h3>
</div>